<body>

	<div>
		<%= image_tag("logos/SSlogoNew.gif") %>
		<p id="facebook"><%= link_to image_tag("logos/FacebookIcon.gif"), "https://www.facebook.com/Sensuous-Sandwich-120566154626861/" %></p>
	</div>

</body>

	<provoLocation>
		<div class="provoloc">
			<%= image_tag("location/location_provo", size: "500x300") %>
		</div>

		<div class="oremloc">
		<%= image_tag("location/location_orem", size: "500x300") %>
		</div>
	</provoLocation>

	<hours>
		<div>
			<p><strong>Our Hours</strong></p>
			<p>Monday-Saturday</p>
			<p>10:30 - 8:00</p>
		</div>
	</hours>

	<div id='provo_address'>
	  <ul>
	  <li><strong><u>Downtown Provo</u></strong></li>
	  <li>163 West Center Street</li>
	  <li>Provo, UT 84601-4431</li>
	  <li>(801) 377-9244</li>
	  <li><a href="https://binged.it/2nN07iI">Map</a></li>
	  <br>
	  <li><%= image_tag("QR/provo_QR.png", size: "100x100") %></li>
	  <li>Scan for directions!</li>
	  </ul>
	</div>

	<div id='orem_address'>
		<ul>
			<li><strong><u>Orem</u></strong></li>
			<li>1680 S State St</li>
			<li>Orem, UT 84097-8070</li>
			<li>(801) 225-9475</li>
			<li><a href="https://binged.it/2nN5lep">Map</a></li>
			<br>
			<li><%= image_tag("QR/orem_QR.png", size: "100x100") %></li>
			<li>Scan for directions!</li>
		</ul>

	</div>